<div id="header">
    <mat-button
        label="Quay lại"
        [onlyText]="true"
        icon="fa-solid fa-arrow-left"
        (clickEmitter)="goBack()"
    ></mat-button>
    <div class="actions">
        <div class="notify">
            <i class="notify-icon fa-solid fa-bell"></i>
        </div>
        <div class="infor" (click)="dropdownUser.toggleDropdown()">
            <img [src]="user.avatar" alt="">
            <dropdown #dropdownUser>
                <div class="infor-detail">
                    <img [src]="user.avatar" [alt]="user.first_name">
                    <p class="fullname">{{user.first_name}} {{ user.last_name }}</p>
                    <p class="role">Admin</p>
                </div>
                <li>
                    <i class="fa-regular fa-user"></i>
                    Thông tin cá nhân
                </li>
                <li>
                    <i class="fa-regular fa-paste"></i>
                    Đổi mật khẩu
                </li>
                <li #logOut>
                    <i class="fa-regular fa-share-from-square"></i>
                    Đăng xuất
                </li>
            </dropdown>
        </div>
    </div>
</div>