@use '../../../../../variables';

button {
    padding: 6px 24px;
    cursor: pointer;
    border-radius: 6px;
    font-weight: 600;
    border: 1px solid variables.$red-color;
    background-color: variables.$red-color;
    color: #fff;

    &.outline {
        background-color: transparent;
        color: variables.$red-color;
    }
}

