
<div id="partner-list">
    <div class="partner-list-options">
        <h2>Danh sách đối tác ({{ partnersLength }})</h2>
        <mat-button
            label="Thêm mới"
            icon="fa-solid fa-plus"
            (clickEmitter)="onRedirectCreate()"
        ></mat-button>
    </div>
    <div class="table-container">
        <table>
            <tr>
                <th>ID</th>
                <th>Tên</th>
                <th>Email</th>
                <th>Số điện thoại</th>
                <th colspan="4">Lĩnh vực</th>
                <th>Gói sử dụng</th>
                <th>Trạng thái</th>
                <th>Hạn sử dụng</th>
                <th colspan="2">Thao tác</th>
            </tr>
            <tr *ngFor="let partner of partners;">
                <td>{{ partner.id }}</td>
                <td>{{ partner.name }}</td>
                <td>{{ partner.email }}</td>
                <td>{{ partner.phone }}</td>
                <td colspan="4">
                    <div style="display: flex; flex-wrap: wrap; align-items: center;">
                        <span *ngFor="let item of partner.jobArea">
                            {{ item }}
                        </span>
                    </div>
                </td>
                <td>
                    <div>
                        {{ getServicePackage(partner.serviceChoose)?.name }}
                    </div>
                </td>
                <td>Đang sử dụng</td>
                <td>{{ partner.createAt | dateTransform }}</td>
                <td colspan="2"></td>
            </tr>
            <ng-template #empty>
                    <div style="text-align: center; margin: 24px 0 36px 0;">
                    <img style="width: 200px;" src="../../../assets/img/forget.png" alt="">
                    <p style="margin-top: 8px; font-weight: 600;">Không có dữ liệu!</p>
                </div>
            </ng-template>
        </table>
    </div>
</div>

