<div class="container">
    <div class="panel-container">
        <img class="panel-image" src="../../../../assets/img/image.png" alt="">
        <div class="panel-content">
            <p class="title">Hệ thống quản lý chat đa nền tảng</p>
            <p class="caption">Tiết kiệm thời gian tư vấn và chăm sóc khách hàng</p>
        </div>
        <div class="panel-slider">
            <button class="slide active"></button>
            <button class="slide"></button>
            <button class="slide"></button>
        </div>
    </div>
    <div class="form-container">
        <ng-content></ng-content>
    </div>
    <div id="language-box">
        <img src="../../../../assets/img/global.png" alt="">
        <select class="language-select ">
            <option value="Vietnamese">Tiếng Việt</option>
            <option value="English">English</option>
        </select>
    </div>
</div>

