<div id="header">
    <div class="actions">
        <div class="notify" (click)="createUserModal.toggleModal()">
            <i class="notify-icon fa-solid fa-bell"></i>
            <mat-modal #createUserModal
                modalTitle="Thêm người dùng"
            >
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Aperiam dignissimos excepturi, molestiae maxime temporibus debitis omnis ut cum possimus assumenda quaerat, distinctio aliquam eligendi, nihil optio quisquam architecto voluptate minus.</p>
                <button #close>Hủy bỏ</button>
            </mat-modal>
        </div>
        <div class="infor" (click)="dropdownUser.toggleDropdown()">
            <img [src]="user.avatar" alt="">
            <dropdown #dropdownUser>
                <div class="infor-detail">
                    <img [src]="user.avatar" [alt]="user.fullname">
                    <p class="fullname">{{user.fullname}}</p>
                    <p class="role">Admin</p>
                </div>
                <li>
                    <i class="fa-regular fa-user"></i>
                    Thông tin cá nhân
                </li>
                <li>
                    <i class="fa-regular fa-paste"></i>
                    Đổi mật khẩu
                </li>
                <li>
                    <i class="fa-regular fa-share-from-square"></i>
                    Đăng xuất
                </li>
            </dropdown>
        </div>
    </div>
</div>