@use '../../../variables';


.user-detail-container {
    box-shadow: 0 0 8px 4px rgba($color: #000000, $alpha: 0.1);
    border-radius: 12px;
    overflow: hidden;

    .user-detail-images {
        position: relative;
        padding-top: 80px;

        .user-detail-background {
            position: absolute;
            background-image: url('https://images.unsplash.com/photo-1744127026559-9d570bbf2c65?q=80&w=2145&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D');
            background-size: cover;
            background-position: center;
            background-repeat: no-repeat;
            width: 100%;
            height: 70%;
            top: 0;
            z-index: -1;
        }

        .user-detail-avatar {
            border-radius: 50%;
            border: 8px solid #fff;
            margin-left: 54px;
            width: 200px;
            height: 200px;
        }
    }

    .user-infor-heading {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
}

.user-detail-infor {
    margin: 24px 36px 36px 54px;

    .user-infor-name {
        display: flex;
        align-items: center;
        gap: 10px;
    }

    .user-infor-email {
        color: variables.$red-color;
        font-weight: 500;
    }

    .user-infor-desc {
        margin-top: 24px;
        margin-right: 24px;
        line-height: 1.5;
    }
    
    .user-desc-empty {
        text-align: center;
    }
    
}


