
$fadeIn: FadeIn;
$moveDown: MoveDown;

@keyframes FadeIn {
    from {
        opacity: 0;
    } to {
        opacity: 1;
    }
}

@keyframes MoveDown {
    from {
        transform: translateY(-100px);
        opacity: 0;
    } to {
        transform: translateY(0);
        opacity: 1;
    }
}