@use 'variables';

@mixin form-content($width) {
    width: $width;
    min-width: 60%;
    max-width: 100%;
    padding: 32px 28px;
    background-color: #fff;
    box-shadow: 0 0 10px 4px rgba($color: variables.$palletblue-color, $alpha: 0.15);
    display: flex;
    flex-direction: column;
    margin-right: 4px;
    margin-left: 4px;
    text-align: center;
    border-radius: 16px;
}