// Color variables

$palletblue-color: #5680F9;
$red-color: #EE0033;
$gray-color: #8D99BB;
$green-color: #73c883;
$yellow-color: #DDA853;

// Font variables
$quicksand: "Quicksand", sans-serif;

@keyframes SlideLeft {
    
}