
<form [formGroup]="form" (ngSubmit)="onSubmit()">
    <label>First Name:</label>
    <input
      formControlName="first_name"
      required
      minlength="3"
    />
    <div *ngIf="form.get('first_name')?.invalid && form.get('first_name')?.touched">
      Tên bắt buộc và phải dài ít nhất 3 ký tự.
    </div>
    <label>Last Name:</label>
    <input
      formControlName="last_name"
      required
      minlength="3"
    />
    <div *ngIf="form.get('last_name')?.invalid && form.get('last_name')?.touched">
      Tên bắt buộc và phải dài ít nhất 3 ký tự.
    </div>
    <label>Email:</label>
    <input
      formControlName="email"
      required
      email
    />
    <div *ngIf="form.get('email')?.invalid && form.get('email')?.touched">
      Email không hợp lệ.
    </div>
    <button type="submit" [disabled]="form.invalid">Submit</button>
  </form>

